<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>E-commerce</title>
    <style>
        nav{
        background-color: green;
        }
        .one-edge-show{
        box-shadow: 0 8px 2px -5px rgb(246, 245, 245);
        }
        .display-8{
        font-weight: 200;
        font-size: 30px;
        font-colour: $teal-200;
        }
    </style>
</head>
<body>
<!--- Navigation bar -->
<nav class="one-edge-show">
    <a class="navbar-brand ms-3 text-dark" href="/">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
              integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ"
        crossorigin="anonymous">
        <img src="https://www.freepnglogos.com/uploads/shopping-cart-png/shopping-cart-svg-png-icon-download-28.png"
        style="width:50px;height:50px,color:text-light;">E-commerce

    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>


    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/products">Products <span class="sr-only">(Current)</span></a>

            </li>
        </ul>
        <ul class="navbar-nav my-2 my-lg-0">
            <li class="nav-item active">
                <a class="nav-link" href="/cart">Cart
                    <span class="badge badge-success">{{request.session.cart.keys|length}}</span>
                    <span class="sr-only">(Current)</span>

                </a>

            </li>

            {% if request.session.customer %}

            <li class="nav-item active">
                <a class="nav-link" href="/orders">Orders<span class="sr-only">(Current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/logout">Logout<span class="sr-only">(Current)</span></a>
            </li>

            {% else  %}
            <li class="nav-item-active">
                <a class="nav-link" href="/signup">Signup<span class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item-active">
                <a class="nav-link" href="/login">Login<span class="sr-only">(current)</span></a>
            </li>
            {% endif %}

        </ul>

    </div>

</nav>
<!-- Javascript-->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
crossorigin="anonymous">
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
crossorigin="anonymous">
</script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
crossorigin="anonymous">
</script>

{% block content %}
{% load cart %}
{% load customer_filter %}

<div class="container-fluid mt-3">
    <div class="row">
        <!-- Filter -->
        <div class="col-lg-3 mx-auto">
            <div class="list-group">
                <a href="/" class="list-group-item list-group-item-action btn btn-outline-success">All Products</a>
                {% for category in categories %}
                <a href="/?category={{category.id}}"
                class="list-group-item list-group-item-action btn btn-outline-success ">{{category.name}}</a>
                {% endfor %}
            </div>
        </div>
        <!--PRODUCTS-->
        <div id="product" class="col-lg-9 mx-auto">
            <div class="row mx-auto">
                {% for p in product %}
                <div class="card mx-auto mb-3" id={{p.id}} style="width: 18rem;">
                    <img class="card-img-top" src="{{p.image.url}}" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-title">{{p.name}}</p>
                        <p class="card-text"><b>{{p.price|currency}}</b></p>
                        <!-- {{product | is_in_cart:request.session.cart }} -->
                    </div>
                    <div class="card-footer p-0 no-gutters">
                        {% if p|is_in_cart:request.session.cart %}
                        <div class="row no-gutters">
                            <form action="/#{{ p.id }}" class="col-2" method="post">
                                {% csrf_token %}
                                <input hidden type="text" name="p" value="{{ p.id }}">
                                <input hidden type="text" name="remove" value="True">
                                <input type="submit" value=" - " class="btn btn-block btn-success border-right">
                            </form>
                            <div class="text-center col btn btn-success">{{p|cart_quantity:request.session.cart}} in Cart</div>
                            <form action="/#{{p.id}}" class="col-2" method="post">
                                {% csrf_token %}
                                <input hidden type="text" name='p' value='{{p.id}}'>
                                <input type="submit" value=" + " class="btn btn-block btn-success border-left">
                            </form>
                        </div>
                        {% else %}
                        <form action="/#{{p.id}}" method="POST" class="btn-block">
                            {% csrf_token %}
                            <input hidden type="text" name='p' value='{{p.id}}'>
                            <input type="submit" class="float-right btn btn-success form-control" value="Add To Cart">
                        </form>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
{% load cart %}
{% load custom_filter %}

<div class="container">

    <div class="border rounded p-4 m-4">
        <p class="display-4 pl-4 ml-4 btn btn-success rounded-pill">Your Cart</p>
        <hr>
        <table class="table">
            <thead>
            <tr>
                <th>Sno.</th>
                <th>Image</th>
                <th>Product</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Total</th>
            </tr>
            </thead>
            <tbody>
            {% for p in product %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td><img style="height: 80px;" class="rounded-circle" src="{{p.image.url}}" alt=""></td>
                <td>{{p.name}}</td>
                <td>{{p.price|currency}}</td>
                <td>{{p|cart_quantity:request.session.cart}}</td>
                <td>{{p|price_total:request.session.cart|currency}}</td>
            </tr>
             {% endfor %}
            </tbody>
            <tfoot>
            <tr>
                <th colspan="4"></th>
                <th class="" colspan="">Total</th>
                <th>{{product|total_cart_price:request.session.cart|currency}}</th>
            </tr>
            </tfoot>
        </table>
        <hr>
        <div class="m-3 p-3">
            <a href="/checkout" data-toggle="modal" data-target="#exampleModal" class="btn btn-outline-success border rounded  col-lg-3 float-right">Check out</a>
        </div>
    </div>
</div>

<!-- Modal -->

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Check out form</h5>
                <hr>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="m-2 p-3">
                    <form action="/check-out" method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="">Address</label>
                            <input type="text" name="address" id="" class="form-control" placeholder="" aria-describedby="helpId">
                        </div>
                        <div class="form-group">
                            <label for="">Phone</label>
                            <input type="text" name="phone" id="" class="form-control" placeholder="" aria-describedby="helpId">
                        </div>
                        <input type="submit" class="btn float-right btn-outline-success col-lg-6" value="Check out">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
</body>
</html>